@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --primary-color: #ff652f;
    --dark-color: #222;
    --white-color: #fff;
    --font-family: "Nunito", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

body {
    height: 100%;
    width: 100%;
    background-image: url("https://picsum.photos/1200/1200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
}

nav {
    background-color: var(--white-color);
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 85px;
    line-height: 85px;
}

nav .wrapper {
    max-width: 1300px;
    position: relative;
    margin: auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .wrapper .logo a {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    color: var(--dark-color);
}

nav .wrapper .logo a span {
    color: var(--primary-color);
    background-color: var(--dark-color);
    padding: 0 10px;
    margin-left: -5px;
}

nav .wrapper .nav-links {
    display: inline-flex;
}

nav .wrapper .nav-links li {
    list-style: none;
}

nav .wrapper .nav-links li a {
    padding: 10px 20px;
    text-decoration: none;
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}

nav .wrapper .nav-links li a:hover {
    background-color: var(--primary-color);
}

/* sub menu style */
nav .wrapper .nav-links .dropdown-menu {
    background-color: var(--dark-color);
    width: 10rem;
    position: absolute;
    top: 85px;
    line-height: 55px;
    opacity: 0;
    visibility: hidden;
    border-top: 4px solid var(--primary-color);
}

nav .wrapper .nav-links li:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in;
}

nav .wrapper .nav-links .dropdown-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .wrapper .nav-links .dropdown-menu li a {
    color: #fff;
    width: 100%;
    display: block;
    padding: 0 0 0 30px;
    font-weight: 500;
}

/* mega menu */
nav .wrapper .mega-menu {
    position: absolute;
    top: 85px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden; 
    transition: all 0.5s ease-in;
}

nav .wrapper .nav-links li:hover .mega-menu {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in;
}

nav .wrapper .mega-menu .content {
    background-color: var(--dark-color);
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 4px solid var(--primary-color);
    width: 60%;
    margin: auto;
}

nav .wrapper .mega-menu .content .row {
    line-height: 45px;
}

nav .wrapper .mega-menu .content .row .title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid var(--primary-color);
    width: 100%;
}

nav .wrapper .mega-menu .content .row .mega-menu-links {
    margin-left: -40px;
    text-align: center;
}

nav .wrapper .mega-menu .content .row .mega-menu-links li {
    padding: 0 20px;
}

nav .wrapper .mega-menu .content .row .mega-menu-links li a {
    padding: 0 20px;
    color: var(--white-color);
    font-size: 1em;
    display: block;
}

/* responsive button */
nav .wrapper .btn-responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    opacity: 0;
    visibility: hidden; 
    cursor: pointer;
}

nav .wrapper .btn-responsive div {
    width: 30px;
    height: 5px;
    background-color: var(--primary-color);
}

/* container section */
.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container div {
    height: 100vh;
    width: 100%;
}

.container div:nth-child(odd) {
    background-color: #555;
    color: var(--white-color);
}

.container div:nth-child(even) {
    background-color: var(--white-color);
    color: var(--dark-color);
}

.container div main {
    padding-top: 6.5rem;
}

.container div main .title {
    text-align: center;
}